.container {
    height: fit-content;
    display: flex;
}

@media(max-width: 2560px) {
    .player_chip {
        width: 26px;
        height: 26px;
    }
}

@media(max-width: 1024px) {
    .player_chip {
        width: 22px;
        height: 22px;
    }
}

@media(max-width: 480px) {
    .player_chip {
        width: 4.4vw;
        height: 4.4vw;
    }
}   