.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.name {
    font-size: 1.8vmin;
    font-weight: 600;
}

.avatar {
    width: 4vmin;
    height: 4vmin;
    border-radius: 64px;
    background-color: #000000;
}

@media(max-width: 2560px) {
    .container {
        gap: 10px;
    }

    .name {
        font-size: 14px;
    }

    .avatar {
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 1024px) {
    .name {
        font-size: 14px;
    }

    .avatar {
        width: 28px;
        height: 28px;
    }
}

@media(max-width: 786px) {
    .container {
        gap: 6px;
    }

    .name {
        font-size: 12px;
    }

    .avatar {
        width: 22px;
        height: 22px;
    }
}

@media(max-width: 480px) {
    .container {
        gap: 1.4vw;
    }

    .name {
        font-size: 2.4vw;
    }

    .avatar {
        width: 4.4vw;
        height: 4.4vw;
    }
}