.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 8px;
    gap: 10px;
}

.upper_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 2560px) {
    .content {
        width: 1024px;
    }
}

@media(max-width: 1024px) {
    .content {
        width: 768px;
    }
}

@media(max-width: 786px) {
    .content {
        width: 425px;
    }
}

@media(max-width: 480px) {
    .content {
        width: 320px;
    }
}