.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6vmin;
    opacity: 95%;
}

.action_btn {
    padding: 0.4vmin 0.9vmin;
    border-radius: 2px;
    font-size: 1.4vmin;
    background-color: #ce1b1b;
    border: 0.3vmin solid #dddddd;
    transition: 150ms;
}

.action_btn:active {
    background-color: #c01f1f;
}