.container {
    border-radius: 3px;
}

.messages_list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
    height: 298px;
    padding: 6px 10px;
    font-weight: 400;
    border-left: 0.3vmin solid #eeeeee;
    border-right: 0.3vmin solid #eeeeee;
}

.send_message_form {
    display: flex;
}

.send_input {
    width: 100%;
    padding: 0 6px;
    font-weight: 500;
    border: 2px solid #000000;
    border-radius: 0 0 0 3px;
}

.send_btn {
    padding: 5px;
    font-weight: 500;
    border-radius: 0 0 3px 0;
}

@media(max-width: 2560px) {
    .send_input {
        font-size: 15px;
    }

    .send_btn {
        font-size: 15px;
    }
}

@media(max-width: 1024px) {
    .messages_list {
        height: 302px;
        padding: 6px 8px;
    }

    .send_input {
        font-size: 14px;
    }

    .send_btn {
        font-size: 14px;
    }
}

@media(max-width: 786px) {
    .messages_list {
        height: 274px;
        padding: 8px;
    }

    .send_input {
        font-size: 12px;
    }

    .send_btn {
        font-size: 12px;
    }
}

@media(max-width: 480px) {
    .messages_list {
        height: 54vw;
        padding: 5px;
    }

    .send_btn {
        font-size: 2.6vw;
        padding: 1.4vw;
    }

    .send_input {
       font-size: 2.8vw;
       padding: 0 1.8vw;
    }
}