.container {
    flex-direction: column;
}

.content {
    flex-direction: column;
    padding: 29% 0 19%;
    border-right: 0.3vmin solid #000000;
    border-bottom: 0.3vmin solid #000000;
}

.field_card {
    bottom: 14vmin;
}