.container {
    flex-direction: row;
}

.content {
    padding: 0 8% 0 0;
    gap: 2%;
    border-bottom: 0.3vmin solid #000000;
    border-right: 0.3vmin solid #000000;
}

.field_card {
    right: 14vmin;
}