.container {
    position: absolute;
    top: 0.8vmin;
    display: flex;
    width: 33vmin;
    height: 19vmin;
    padding: 1.2vmin;
    background-color: #fafafa;
    border: 0.3vmin solid #eeeeee;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transform: translateY(0);
}

.container_hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-0.8vmin);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0.8vmin;
    outline: 0.3vmin solid #000000;
    z-index: 2;
}

.title {
    font-size: 1.7vmin;
    font-weight: 800;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.text {
    text-align: center;
    font-size: 1.4vmin;
    font-weight: 500;
    word-break: break-word;
    max-width: 100%;
}