.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.game_field_icon {
    width: 4.7vmin;
    height: 4.7vmin;
    z-index: 1;
}

.game_field_name {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.85vmin;
    font-weight: 700;
    z-index: 1;
}