.container {
    flex-grow: 1;
    height: 1%;
    display: flex;
    flex-direction: column;
}

.messages_list {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    padding: 1vmin 0.8vmin 0.2vmin 0.6vmin;
    gap: 0.6vmin;
    border: 0.3vmin solid #808080;
    border-bottom: none;
}

.no_messages {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b4b4b;
}