.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 56% auto;
    gap: 1%;
    padding: 1%;
}

.content__side {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pregame_rooms {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 3px;
}

.title {
    background-color: #eeeeee;
    padding: 1% 6px;
    border-radius: 3px 3px 0 0;
}

@media(max-width: 2560px) {
    .container {
        width: 1024px;
    }

    .title {
        font-size: 16px;
    }
}

@media(max-width: 1024px) {
    .container {
        width: 768px;
    }

    .title {
        font-size: 14px;
    }
}

@media(max-width: 786px) {
    .container {
        width: 480px;
    }

    .content {
        width: 480px;
        grid-template-columns: 100%;
    }

    .content__side {
        gap: 8px;
    }

    .title {
        font-size: 13px;
    }
}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .content {
        width: 100vw;
        grid-template-columns: 100%;
        padding: 5px 5px 0 5px;
        gap: 1.2vw;
    }

    .content__side {
        gap: 1.2vw;
    }

    .title {
        padding: 1% 1.3vw;
        font-size: 2.7vw;
    }
}