.container {
    display: flex;
    flex-direction: column;
    border-bottom: 0.3vmin solid #eeeeee;
}

.container:last-child {
    border: 0;
}

.members_list {
    display: flex;
}

.slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.avatar {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
}

@media(max-width: 2560px) {
    .username {
        font-size: 16px;
    }

    .members_list {
        padding: 4px 0 4px 0;
    }
}

@media(max-width: 1024px) {
    .username {
        font-size: 14px;
    }

    .members_list {
        padding: 4px 0 5px 0;
    }
}

@media(max-width: 786px) {
    .username {
        font-size: 11px;
    }

    .members_list {
        padding: 2.5px 0 4px 0;
    }
}

@media(max-width: 480px) {
    .members_list {
        padding: 1.1vw 0 0.8vw 0;
    }

    .username {
        font-size: 3.2vw;
    }
}