.container {
    display: flex;
    flex-direction: column;
}

.container:last-child {
    border: 0;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.3vmin solid #eeeeee;
    border-bottom: 0.3vmin dashed #eeeeee;
}

.options__start_game_btn {
    background-color: #ce1b1b;
    border-radius: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid #dddddd;
}

.options__leave {
    cursor: pointer;
}

.members_list {
    display: flex;
    align-items: center;
    border: 0.3vmin solid #eeeeee;
    border-top: none;
}

.slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.avatar {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
}

@media(max-width: 2560px) {
    .options {
        padding: 8px 12px;
    }

    .options__start_game_btn {
        padding: 3px 6px;
    }

    .options__leave {
        font-size: 15px;
    }
    
    .username {
        font-size: 16px;
    }

    .members_list {
        padding: 4px 0 4px 0;
    }
}

@media(max-width: 1024px) {
    .options {
        padding: 7px 10px;
    }

    .options__start_game_btn {
        font-size: 13px;
        padding: 2px 5px;
    }

    .options__leave {
        font-size: 13px;
    }

    .username {
        font-size: 14px;
    }

    .members_list {
        padding: 4px 0 5px 0;
    }
}

@media(max-width: 786px) {
    .options {
        padding: 6px 8px;
    }

    .options__start_game_btn {
        font-size: 11.5px;
        padding: 2px 5px;
    }    

    .options__leave {
        font-size: 11.5px;
    }

    .username {
        font-size: 11px;
    }

    .members_list {
        padding: 2.5px 0 4px 0;
    }
}

@media(max-width: 480px) {
    .options {
        padding: 1.2vw 1.6vw;
    }

    .options__start_game_btn {
        font-size: 2.4vw;
        padding: 0.45vw 1.1vw;
    }    

    .options__leave {
        font-size: 2.4vw;
    }

    .members_list {
        padding: 1.1vw 0 0.8vw 0;
    }

    .username {
        font-size: 3.2vw;
    }
}