.container {
    display: flex;
    flex-direction: column;
}

.container:last-child {
    border: 0;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 0.3vmin solid #eeeeee;
    border-bottom: 0.3vmin dashed #eeeeee;
    
}

.options__leave {
    cursor: pointer;
}

.members_list {
    display: flex;
    align-items: center;
    border: 0.3vmin solid #eeeeee;
    border-top: none;
}

.slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.avatar {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
}

@media(max-width: 2560px) {
    .options {
        padding: 3px 12px;
    }

    .options__leave {
        font-size: 15px;
    }
    
    .username {
        font-size: 16px;
    }

    .members_list {
        padding: 4px 0 4px 0;
    }
}

@media(max-width: 1024px) {
    .options {
        padding: 3px 10px;
    }

    .options__leave {
        font-size: 13px;
    }

    .username {
        font-size: 14px;
    }

    .members_list {
        padding: 4px 0 5px 0;
    }
}

@media(max-width: 786px) {
    .options {
        padding: 3px 8px;
    }

    .options__leave {
        font-size: 11.5px;
    }

    .username {
        font-size: 11px;
    }

    .members_list {
        padding: 2.5px 0 4px 0;
    }
}

@media(max-width: 480px) {
    .options {
        padding: 0.6vw 2vw;
    }

    .options__leave {
        font-size: 2.4vw;
    }

    .members_list {
        padding: 1.1vw 0 0.8vw 0;
    }

    .username {
        font-size: 3.2vw;
    }
}