.container {
    align-items: center;
    border-bottom: 0.3vmin solid #000000;
}

.container:first-child {
    border-top: 0.3vmin solid #000000;
}

.content {
    align-items: center;
    padding-right: 3%;
}

.header {
    display: flex;
    height: 100%;
    width: 2.3vmin;
    border-right: 0.3vmin solid #000000;
}

.field_card {
    left: 14vmin;
}