.container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.85vmin;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    text-transform: uppercase;
    overflow: hidden;
}

.field_name {
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 0.9vmin;
}

.field_price {
    font-size: 1vmin;
}

.players_on_field {
    position: absolute;
}

.field_card {
    position: absolute;
    z-index: 3;
    opacity: 1;
    transition: 200ms;
}

.field_card_hide {
    opacity: 0;
    pointer-events: none;
}