.container {
    width: 100%;
    display: grid;
    grid-template-columns: 84% auto;
}

.send_message_input {
    padding: 0.25vmin 0.6vmin;
    font-size: 1.6vmin;
    font-weight: 500;
    background-color: #eeeeee;
    border: 0.3vmin solid #808080;
    border-right: none;
}

.send_message_btn {
    color: #000000;
    font-size: 1.6vmin;
    font-weight: 500;
    background-color: #eeeeee;
    border: 0.3vmin solid #808080;
    transition: 250ms;
}

.send_message_btn:active {
    background-color: #d4d4d4;
} 