.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    padding: 5px;
    border: 0.1vw solid #000000;
}

.input {
    flex-grow: 1;
    font-family: 'Jost';
    font-weight: 600;
    outline: none;
}

.password_icons {
    cursor: pointer;
}

@media(max-width: 2560px) {
    .title {
        font-size: 17px;
    }

    .input {
        font-size: 14px;
    }

    .password_icons {
        width: 19px;
    }
}

@media(max-width: 786px) {
    .title {
        font-size: 15px;
    }

    .input_wrap {
        padding: 4px 5px;
    }

    .input {
        font-size: 12px;
    }

    .password_icons {
        width: 16px;
    }
}

@media(max-width: 480px) {
    .title {
        font-size: 3.1vw;
    }

    .input_wrap {
        padding: 0.8vw 1.1vw;
    }

    .input {
        font-size: 2.5vw;
    }

    .password_icons {
        width: 3.2vw;
    }
}