.container {
    display: flex;
    justify-content: center;
    padding: 0 5px;
    hyphens: auto;
    background-color: #464646;
}

.empty_container {
    background-color: none;
}

.container_color {
    height: 10px;
    background-color: #86caf7;
}

.container_name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 8px;
    font-weight: 600;
}