.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.top_container {
    flex-direction: column;
    padding: 35% 0 20%;
    border-right: 0.3vmin solid #000000;
    border-top: 0.3vmin solid #000000;
}

.right_container {
    padding: 0 5% 0 10%;
    border-bottom: 0.3vmin solid #000000;
    border-right: 0.3vmin solid #000000;
}

.bottom_container {
    flex-direction: column;
    padding: 35% 0 20%;
    border-right: 0.3vmin solid #000000;
    border-bottom: 0.3vmin solid #000000;
}

.left_container {
    flex-direction: row-reverse;
    padding: 0 10% 0 5%;
    border-bottom: 0.3vmin solid #000000;
    border-left: 0.3vmin solid #000000;
}

.vertical_field_name {
    text-transform: uppercase;
    font-size: 0.85vmin;
    font-weight: 700;
}

.horizontal_field_name {
    text-transform: uppercase;
    font-size: 0.85vmin;
    font-weight: 700;
    width: 7vmin;
}

.icon {
    width: 4.7vmin;
    height: 4.7vmin;
}

.right_icon {
    transform: rotate(90deg);
}

.left_icon {
    transform: rotate(-90deg);
}

.dynamic_area {
    position: absolute;
    display: grid;
    user-select: none;
    pointer-events: none;
}

.bottom_players_area {
    width: 100%;
    height: 40%;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
}

.left_players_area {
    width: 66%;
    height: 69%;
    left: 35%;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
}

.top_players_area {
    width: 100%;
    height: 40%;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
}

.right_players_area {
    width: 66%;
    height: 69%;
    left: 9%;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);  
}

.player_chip {
    height: 100%;
}