.container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    pointer-events: none;
    z-index: 2;
}

.players_area_vertical {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.players_area_horizontal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.player_chip_horizontal {
    height: 50%;
    /* aspect-ratio: 1 / 1; */
    width: auto;
}

.player_chip_vertical {
    width: 50%;
    /* aspect-ratio: 1 / 1; */
    height: auto;
}