.nav_list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_item {
    font-size: 16px;
    font-weight: 500;
    transition: 125ms;
    cursor: pointer;
}

.nav_item:hover {
    color: #cfcfcf;
}