.container {
    width: 328px;
    display: flex;
    border: 1px solid #000000;
    border-radius: 10px;
}

.imput {
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: 11px;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-family: 'Jost';
    font-size: 14px;
    color: #000000;
    font-weight: 600;
}

input::placeholder {    
    font-weight: 600;
}

.btn {
    display: flex;
    flex-grow: 0;
    width: max-content;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 9px;
    cursor: pointer;
}