.top_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-right: 0.3vh solid ;
    padding: 0 0 0.3vh;
    min-width: 0;
    font-size: 0.8vh;
    font-weight: 600;
}

.right_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 0.3vh solid ;
    padding: 0 0 0 0.3vh;
    min-width: 0;
    font-size: 0.8vh;
    font-weight: 600;
}

.bottom_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-right: 0.3vh solid ;
    padding: 0.3vh 0 0 0;
    min-width: 0;
    font-size: 0.8vh;
    font-weight: 600;
}

.left_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 0.3vh solid ;
    padding: 0 0.3vh 0 0;
    min-width: 0;
    font-size: 0.8vh;
    font-weight: 600;
}

.top_header {
    height: 2vh;
    border-bottom: 0.3vh solid #000000;
}

.right_header {
    height: 100%;
    width: 2vh;
    border-left: 0.3vh solid #000000;
}

.bottom_header {
    height: 2vh;
    border-top: 0.3vh solid #000000;
}

.left_header {
    height: 100%;
    width: 2vh;
    border-right: 0.3vh solid #000000;
}

.top_container:last-child {
    border: none;
}

.right_container:last-child {
    border: none;
}

.bottom_container:last-child {
    border: none;
}

.left_container:last-child {
    border: none;
}

.horizontal_field_name {
    width: 8vh;
}