.container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.avatar {
    border-radius: 64px;
}

.name {
    max-width: 100%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(max-width: 2560px) {
    .avatar {
        width: 44px;
        height: 44px;
    }

    .name {
        font-size: 14px;
    }
}

@media(max-width: 1024px) {
    .avatar {
        width: 38px;
        height: 38px;
    }

    .name {
        font-size: 13px;
    }
}

@media(max-width: 786px) {
    .avatar {
        width: 32px;
        height: 32px;
    }

    .name {
        font-size: 12px;
    }
}

@media(max-width: 480px) {
    .avatar {
        width: 6vw;
        height: 6vw;
    }

    .name {
        font-size: 2.6vw
    }
}