.container {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0 0.5vh;
  background-color: #ec2121;
  border: 0.2vh solid #dddddd;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.text {
  font-size: 2.4vh;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}