@font-face {
    font-family: 'Jost';
    src: url('./fonts/Jost-VariableFont_wght.ttf');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Jost';
    font-weight: 500;
}

ul {
    font-family: 'Jost';
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    font-family: 'Jost';
}

button {
    font-family: 'Jost';
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 0;
    cursor: pointer;
}

input {
    background-color: none;
    outline: none;
    font-family: 'Jost';
    border: none;
    border-radius: 0;
}

a {
    font-style: 'Jost';
    text-decoration: none;
    color: #000000;
}