.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    padding: 1.5vmin;
    border-bottom: 0.3vmin solid #dddddd;
    border-left: 0.3vmin solid #dddddd;
    border-right: 0.3vmin solid #dddddd;
}