.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vmin;
    text-align: center;
}

.name {
    font-size: 1.3vmin;
}

.go_name {
    font-size: 2vmin;
    font-weight: 800;
}

.go_description {
    font-weight: 600;
    font-size: 0.9vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 50%;
}

.go_icon {
    width: 90%;
}

.dynamic_area {
    width: 73%;
    height: 47%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
    user-select: none;
    pointer-events: none;
}

.player_chip {
    width: 100%;
}