.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 1.5vmin;
    border-bottom: 0.3vmin solid #eeeeee;
    border-left: 0.3vmin solid #eeeeee;
    border-right: 0.3vmin solid #eeeeee;
}